---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="h-[60vh] flex flex-col gap-6 items-center justify-center bg-gray-300 dark:bg-gray-700 p-10">
    <h1 class="text-3xl font-semibold">Welcome to Ram Digital Photo Studio</h1>

  </section>
</BaseLayout>
