---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
<section
  class="h-[60vh] flex items-center justify-center 
         bg-gradient-to-br from-blue-200 to-purple-300 
         dark:from-[#1e293b] dark:to-[#0f172a]
         transition-colors duration-500"
>
  <h1 class="text-4xl font-bold text-gray-900 dark:text-gray-100">
    Welcome to Ram Digital Photo Studio
  </h1>
</section>




</BaseLayout>
