---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="p-10">
    <h1 class="text-3xl font-bold">printing-solutions</h1>
    <p class="mt-4">Content for printing-solutions page</p>
  </section>
</BaseLayout>
