---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="p-10">
    <h1 class="text-3xl font-bold">specialised-in</h1>
    <p class="mt-4">Content for specialised-in page</p>
  </section>
</BaseLayout>
