<header
  class="
    w-full py-8 text-center
    bg-[#1F1C19]
    dark:bg-[#141210]
    text-[#EDEAE6]
    border-b border-[#3A3835] dark:border-[#2A2724]
    transition-colors duration-500
  "
>
  <h1 class="text-4xl font-bold tracking-wide">
    Ram Digital Photo Studio
  </h1>

  <p class="mt-4 text-lg text-[#D8CCBC]">
    Capturing moments with warmth & elegance
  </p>
</header>
